:root {
    --background-color: #000;
    --text-color: #fff;
    --button-background-color: #424242;
    --button-text-color: #fff;
    --button-border-color: #fff;
    --black: #000;
    --white: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-color: var(--button-border-color);
}